
body {
    background-color: #111827;
    color: white;
}
.navbar-brand {
    padding-left: 22rem;
}
.navbar-nav {
    padding-right: 22rem;
}
.collapse   {
    padding-right: 10rem;
}
.hero-section {
   text-align: center;
    padding: 100px 20px;
}
.hero-section h1 {
    font-weight: bold;
}
.hero-section p {
    color: #d1d5db;
}

.btn-outline-light {
    border-color: white;
    color: white;
}
.card {
    border: none;
}
.card-icon {
    font-size: 30px;
}
